.admin-nav-page{
   .menu-user{
    margin: 10px 0;
    padding: 10px 0;
     .active {
      background-color: #1890ff;
      color: #fff;
    }
    li {
      height: 45px;
      width: 100%;
      cursor: pointer;
      padding: 10px 0 10px 10px;
    }
     li:not(.active):hover {
      color: #1890ff;
    }
  }
  }
