.scorll-top-btn{
      position: fixed;
    width: 35px;
    left: 90%;
    bottom: 20%;
    height: 35px;
    font-size: 3rem;
    z-index: 10000000;
    cursor: pointer;
    border: 2px solid #1890FF;
    border-radius: 50%;
.icon-btn-back-to-top{
 display: flex;
    color: #1890ff;
    justify-content: space-around;
    align-content: center;
}
   
}

    