.sub-category-list-home-page {
  .btn-lg {
    border: 1px solid #1890ff;
    border-radius: 5px;
    background-color: rgba(227, 218, 218, 0.478);
  }

  .btn-lg:hover {
    cursor: pointer;
    background-color: rgba(227, 218, 218, 0.816);
  }
}