.cart-page{
  .table-summary{
    td{
      text-align: unset;
    }
  }

  .btn-outline-primary-2:hover{
    a{
      color: white;
    }
  }
  .form-control{
    margin-bottom: unset;
    width: unset;
  }
  .thead-light{
    th{
      text-align: center;
    }
  }
  td{
    text-align: center;
  vertical-align: middle;
  }
}