.history-page{
 .content{
    border-left: 1px solid #ebebeb;
    margin: 10px 0;
    padding: 10px 0;
    .title-page {
        font-weight: bolder;
        font-size: 35px;
        color: #1890ff;
      }
  }
  
}