.ant-drawer-content-wrapper {
  .btn-outline-primary-2:hover {
    a {
      color: white;
    }
  }

  .bg-title-drawer{
    background-color: #e9ecef;
    p{
      color: rgba(0, 0, 0, 0.88) !important;
    }
  }

  .row {
    margin-bottom: 15px !important;
  }
}