.header-container {
  .container {
    display: flex;
  }

  .ant-menu-horizontal {
    border-bottom: unset
  }

  .menu a:not(.btn) {
    display: flex;
    position: relative;
    text-decoration: none;
    align-items: center;
}
}