.loading {
  height: calc(100vh - 46px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(220, 220, 220, 0.3);
  position: absolute;
  width: 100vw;
  z-index: 100000;

  .lds-hourglass {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;

  }

  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid rgb(176, 37, 37);
    border-color: rgb(132 139 112) transparent rgb(113 137 137) transparent;
    animation: lds-hourglass 1.2s infinite;
  }

  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    }

    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

    }

    100% {
      transform: rotate(1800deg);
      opacity: 0.1;
      visibility: hidden;
    }
  }

}